<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FunMusicTestSuite">
	<listeners>
   		<listener class-name="com.ylss.listener.TestNGListener" />
   		<listener class-name="com.ylss.listener.PowerEmailableReporter" />
 	</listeners>  	
    <test name="FunMusicTest" parallel="classes" thread-count="1">
		<classes>
			<class name="com.ylss.test.LoginTest" />
			<class name="com.ylss.test.SimpleTest" />
		</classes>
    </test>
</suite>